@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgba(249,160,80);
    --secondary-color: rgba(171,96,49);
    --ternary-color: rgba(253,232,110);
    --quaternary-color: rgba(107,221,128);
    --quinary-color: rgba(240,79,79);
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: none;
  width: 100%; /* set width to 100% to make the input field wider */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;  
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
