.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* Form styles */
.formCont {
  display: flex;
  flex-direction: column;
}
.formCont input {
  /* padding-right: 8em;
  padding-top: 1em;
  margin-bottom: 1em;
  border: 2px solid rgba(240, 79, 79);
  border-radius: 5px; */
}
.formCont button {

}