:root {
    --primary-color: rgba(171,96,49);
    --secondary-color: rgba(249,160,80);
    --ternary-color: rgba(253,232,110);
    --quaternary-color: rgba(107,221,128);
    --quinary-color: rgba(240,79,79);
}